player-connection-mode=Listen
player-connection-guid=2142810081
player-connection-debug=0
player-connection-project-name=MLZombieGame
player-connection-ip=192.168.11.153
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=2c0bfdea43f04d24829a9a2501b77c37
